body {
  background:  #fffcd1; /* 背景 */
  margin: 0;   /* 外距 */
  padding: 0;  /* 內距 */
}

.x2 img{
  width: 25px;
}
.x2 a {
    width: 120px;              /* 固定寬度 */
    background-color: #ffd992; /* 背景 */
    text-decoration: none;     /* 移除底線 */
    color: #786644;            /* 字體顏色 */
    display: flex;             /* 使用 Flex 排列內容 */
    justify-content: center;   /* 水平置中 */
    align-items: center;       /* 垂直置中 */
    gap: 6px;                  /* 元素間距 */
    border-radius: 10px;       /* 圓角邊框 */
    margin: 20px;
    padding: 10px;
}
.x2 a:hover{
    color: #281c5e;
    background-color: #ead0fb;
}
.x2{
    background-color: #ffedb7;
    padding: 10px;
    width: 80%;
    min-width: 300px;
    margin: 40px 10%;  /* 垂直外距 40px，水平外距為左右各 10% */
}
.x2 h2{
    color: #632225;
    margin: 50px;
    padding: 10px;
}

.y1 {
  margin: 0 100px;
  color: #4a0311;
}

.d1{
    text-align: center;
    padding: 10px;
}
.d1 img{
  width: 300px;
	border: 2px solid #ffcb1f;
	padding: 5px;
	border-radius: 100px;
}
