.entrytable {
    width: 600px;              /* 表格寬度 */ 
    border: 2px solid #c442c9; /* 表格外框 */
    padding: 5px;
    margin: 40px auto;         /* 表格上下外距為 40px，左右自動（讓表格置中） */
}

.entrytable th {
    width: 10em;               /* 每個表頭欄位的寬度 */
    background-color: #f291ff;
    border: 1px solid #a047a0; /* 表頭邊框 */
}

.entrytable td {
    border: 1px solid #a047a0; /* 表格格線 */
    text-align: center; /* 內容置中 */
    padding: 6px;
    height: 60px; /* 單元格高 */
}

.entrytable caption {
    margin-bottom: 10px; /* 表格標題與表格本體之間的間距 */
}
