body {
    background: #fff1f4;
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
}

/* 自介 */
.x1{
    background-color: #facad4;
    text-align: center;
    padding: 10px;
}
.x1 img{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px #1f0101;
}
.x1 hr{
    border-color: #e239aa;
    width: 300px;
}
.x1 p{
    font-weight: bold;
    color: #640933;
}
.x1 h1 {
    width: 300px;
    margin: 40px auto; /* 上下 40px，左右自動置中 */
    padding: 10px;
    border: 5px solid #ffe2f0;
    background-color: #faa8d1;
    color: #fff;
    text-align: center;
}


/* 價格 */
.x2{
    box-sizing: border-box;
    background-color: #ffd2d8;
    padding: 10px;
    width: 80%;
    min-width: 200px;
    margin: 40px 10%;
}
.x2 h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ffd2d8;
    border-left: 10px solid #ed5d7a;
    color: #632225;
    margin: 50px 50px 0;
}

.y1 {
  margin-left: 100px;
  color: #4a0311;
}
