body {
    background: #fff1f4;
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
}
.x1{
    background-color: #facad4;
    text-align: center;
    padding: 10px;
}
.x1 img{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px #1f0101;
}
.x1 hr{
    border-color: #e239aa;
    width: 300px;
}
.x1 p{
    font-weight: bold;
    color: #640933;
}
.x1 h1 {
    width: 300px;
    margin: 40px auto;
    padding: 10px;
    border: 5px solid #ffe2f0;
    background-color: #faa8d1;
    color: #fff;
    text-align: center;
}

.x3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

.y2{
    background-color: #ffd2d8;
    padding: 10px;
    width: 39%;
    min-width: 300px;
}
.y2 h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ffd2d8;
    border-left: 10px solid #ed5d7a;
    color: #632225;
}
.y2 a{
    width: 100px;
    background-color: #ffb7c3;
    text-decoration: none;
    color: #784451;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin: 20px; 
}
.y2 a:hover{
    color: #281c5e;
    background-color: #ead0fb;
}

.y3{
    background-color: #ffd2d8;
    padding: 10px;
    width: 40%;
    min-width: 300px;
    min-height: 350px;
}
.y3 h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ffd2d8;
    border-left: 10px solid #ed5d7a;
    color: #632225;
}

body {
  background: #fff1f4;
  margin: 0;
  padding: 0;
}

.x2 img{
  width: 25px;
}
.x2 a {
    width: 120px;
    background-color: #ffb7c3;
    text-decoration: none;
    color: #784451;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 6px;
    border-radius: 10px;
    margin: 20px;
}
.x2 a:hover{
    color: #281c5e;
    background-color: #ead0fb;
}
.x2{
    background-color: #ffd2d8;
    padding: 10px;
    width: 80%;
    min-width: 300px;
    margin: 40px 10%;
}
.x2 h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ffd2d8;
    border-left: 10px solid #ed5d7a;
    color: #632225;
    margin: 50px;
}

.y1 {
  margin: 0 100px;
  color: #4a0311;
}