body {
  background: #fff1f4;
  margin: 0;
  padding: 0;
}

h1 {
    width: 200px;
    margin: 40px auto;
    padding: 10px;
    border: 5px solid #ffe2f0;
    background-color: #faa8d1;
    color: #fff;
    text-align: center;
}
.d1{
    background-color: #facad4;
    text-align: center;
    padding: 10px;
}
.d1 img{
    width: 400px;
    border-radius: 25%;
    object-fit: cover;
    box-shadow: 0 4px 12px #1f0101;
}
.d1 hr{
    border-color: #e239aa;
    width: 300px;
}
.d1 p{
    font-weight: bold;
    color: #640933;
}